.logo img {
  width: 164px;
}
.boxes {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 315px 315px 315px;
  grid-template-rows: 140px 140px 140px 140px;
  margin-top: 20px;
  /* gap: 20px 20px; */
}
.box {
  background-color: rgb(241, 237, 237);
  height: 120px;
  width: 290px;
  margin-left: 50px;
  border-radius: 4px;
}
.btn1 button {
  height: 29px;
  width: 120px;
  font-size: 12px;
  font-weight: 550;
  border-radius: 3px;
  position: relative;
  top: 58px;
  left: 10px;
  background-color: rgb(0, 157, 16);
  border: none;
}
.btn2 button {
  height: 29px;
  width: 120px;
  font-size: 12px;
  font-weight: 550;
  border-radius: 3px;
  position: relative;
  top: 29px;
  left: 160px;
  background-color: rgb(128, 15, 233);
  border: none;
}
a:link{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover{
  
  color: black;
}

.lang {
  position: relative;
  top: 15px;
  left: 110px;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
}

.list ul {
  display: flex;
  gap: 20px;
}

.list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.list ul li span {
  padding: 0 5px;
}
.top {
  margin-top: 60px;
}
.top1 {
  font-size: 50px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.top2 {
  padding-top: 35px;
  margin: auto;
  width: 75vw;
  font-size: 24px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  margin: 30px 480px;
  width: 20vw;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #00b6d1;
}
.download {
  margin-top: 70px;
  margin-left: 200px;
  width: 50vw;
  display: flex;
  gap: 10px;
}

.d1 {
  font-size: 25px;
  margin-top: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.d2 {
  margin-top: 15px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
