.logo img {
  width: 164px;
}
.boxes {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 110px 110px 110px 110px;
  margin-top: 300px;
  /* gap: 20px 20px; */
}
.box {
  background-color: rgb(241, 237, 237);
  height: 90px;
  width: 190px;
  margin-left: 50px;
}
.left {
  height: 19px;
  width: 70px;
  font-size: 9px;
  font-weight: 550;
  border-radius: 3px;
  position: relative;
  top: 44px;
  left: 10px;
  background-color: rgb(77, 77, 249);
}
.right {
  height: 19px;
  width: 70px;
  font-size: 9px;
  font-weight: 550;
  border-radius: 3px;
  position: relative;
  top: 25px;
  left: 110px;
  background-color: rgb(57, 170, 5);
}
a:link{
  color: brown;
  text-decoration: none;
}

a:hover{
  background-color: white;
  color: black;
}
.box .left span a{
  position: relative;
  top: 4px;
  left: 3px;
  font-size: 8px;
  font-weight: 600;
  font-family:sans-serif;
}
.box .right span{
  position: relative;
  top: 4px;
  left: 3px;
  font-size: 8px;
  font-weight: 600;
  font-family:sans-serif;
}
.lang{
  position: relative;
  top: 15px;
  left: 70px;
  font-size: 15px;
  font-weight: 600;
  font-family:sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
}

.list ul {
  display: flex;
  gap: 20px;
}

.list ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.list ul li span {
  padding: 0 5px;
}
