.parent {
  background-color: rgb(232, 232, 234);
  width: 35vw;
  padding: 10px;
  height: 650px;
  border-radius: 17px;
  border: 2px solid black;
  position: relative;
  top: -80px;
  margin: 150px;

}
.image img {
  border-radius: 17px;
}
.tags span {
  margin: 9px;
  justify-content: center;
  align-items: center;
  width: 50px;
  display: inline-flex;
  outline: auto;
  outline-style: dotted;
  border-radius: 17px;
  padding: 5px;
  font-size: 14px;
  background-color: rgb(245, 245, 250);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  top: 5px;
}
.heading p {
  font-family: cursive;
  margin: 5px;
  position: relative;
  top: 10px;
  font-size: 16px;
}
.heading h1 {
  font-family: cursive;
  margin: 5px;
  position: relative;
  top: 5px;
}
.button {
  background-color: rgb(199, 199, 214);
  margin: 9px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  border-radius: 17px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
  position: relative;

  top: 10px;
  color: rgb(70, 70, 230);
  width: 100px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
